/** Component: Side by Side Column */

@use '../../../scss/_mixins.scss' as *;

@include medium-up {
  .sbs-column {
    position: relative;

    &__content {
      position: -webkit-sticky;
      position: sticky;
      top: calc(var(--ifm-navbar-height) + var(--strapi-spacing-4));

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
