/**
 * Optional, top banner
 * whose content can be configured
 * in docusarus.config.js
 */

 @use './mixins' as *;

[class*="announcementBar"] {
  min-height: 44px;
  color: var(--strapi-neutral-800);

  [class*="announcementBarContent"] {
    position: relative;
    padding-top: 8px;
    font-size: var(--strapi-font-size-sm);
  }

  button.clean-btn.close {
    opacity: 1;

    svg {
      display: initial;
      width: 11px;
      height: 11px;

      g path {
        fill: var(--strapi-alternative-600);
        stroke: var(--strapi-alternative-600);
        stroke-width: 2px;
      }
    }
  }
}

@include dark {
  [class*="announcementBar"] {
     background-color: rgb(56, 13, 91);

     button.clean-btn.close {
      background-color: rgb(56, 13, 91);
      svg g path {
        stroke: white;
      }
     }
  }
}
