/** Component: Feature Badges (alpha, beta) */

.badge {
  --custom-badge-background-color: var(--strapi-neutral-200);
  --custom-badge-color: var(--strapi-neutral-800);
  --custom-badge-font-size: var(--strapi-font-size-sm);

  --custom-selection-background-color: var(--custom-badge-color);

  --ifm-badge-background-color: var(--custom-badge-background-color);
  --ifm-badge-color: var(--custom-badge-color);
  --ifm-badge-border-radius: var(--strapi-spacing-1);
  --ifm-badge-padding-horizontal: var(--strapi-spacing-2);
  --ifm-badge-padding-vertical: var(--strapi-spacing-2);

  --ifm-font-weight-bold: var(--strapi-font-size-sm);
  --ifm-link-color: var(--ifm-badge-color);
  --ifm-link-hover-color: var(--ifm-badge-color);

  position: relative;
  top: var(--custom-badge-inside-titles-top);
  font-size: var(--custom-badge-font-size);
  font-weight: 400;
  letter-spacing: .3px;

  &-link {
    font-weight: 400;
  }

  &--alpha {
    --custom-badge-background-color: rgb(255,230,228);
    --custom-badge-color: rgb(219, 0, 22);
  }

  &--beta {
    --custom-badge-background-color: rgb(246, 228, 253);
    --custom-badge-color: rgb(160,25,240);
  }

  &--gold,
  &--pricing {
    --custom-badge-background-color: rgb(255, 241, 209);
    --custom-badge-color: rgb(229, 136, 41);
  }
}

h1 .badge {
  --custom-badge-inside-titles-top: -.5em;
}

h2 .badge {
  --custom-badge-inside-titles-top: -.4em;
}

h3 .badge {
  --custom-badge-inside-titles-top: -.2em;
}

/** Dark mode */
@include dark {
  .badge {
    --custom-badge-color: var(--aa-muted-color-alpha);
  }
}
