/** Component: Feature Badges (alpha, beta) */

.badge {
  --custom-badge-background-color: var(--strapi-neutral-200);
  --custom-badge-color: var(--strapi-neutral-800);
  --custom-badge-font-size: var(--strapi-font-size-xxs);
  --custom-badge-line-height: var(--strapi-line-height-xs);

  --custom-selection-background-color: var(--custom-badge-color);

  --ifm-badge-background-color: var(--custom-badge-background-color);
  --ifm-badge-color: var(--custom-badge-color);
  --ifm-badge-border-radius: var(--strapi-spacing-1);
  --ifm-badge-padding-horizontal: 7px;
  --ifm-badge-padding-vertical: 6px;

  --ifm-font-weight-bold: var(--strapi-font-size-sm);
  --ifm-link-color: var(--ifm-badge-color);
  --ifm-link-hover-color: var(--ifm-badge-color);

  position: relative;
  top: var(--custom-badge-inside-titles-top);
  font-size: var(--custom-badge-font-size);
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--custom-badge-border-color);

  a {
    text-decoration: none;
  }

  .strapi-icons {
    margin-right: 6px;
    font-size: 12px;
    position: relative;
    top: 1px;
  }

  &-link {
    font-weight: 500;
    text-decoration: none;
  }

  & + .badge {
    margin-left: 2px;
  }

  &--alpha {
    --custom-badge-background-color: var(--strapi-warning-100);
    --custom-badge-color: var(--strapi-warning-600);
    --custom-badge-border-color: var(--strapi-warning-200);
  }

  &--beta {
    --custom-badge-background-color: var(--strapi-secondary-100);
    --custom-badge-color: var(--strapi-secondary-600);
    --custom-badge-border-color: var(--strapi-secondary-200);
  }

  &--alpha,
  &--beta {
    height: 27px;
    position: relative;
    padding-top: 8px;
    font-weight: 600;
  }

  &--featureflag {
    --custom-badge-background-color: var(--strapi-alternative-100);
    --custom-badge-color: var(--strapi-alternative-600);
    --custom-badge-border-color: var(--strapi-alternative-200);
  }

  &--enterprise {
    --custom-badge-background-color: var(--strapi-warning-600);
    --custom-badge-color: var(--strapi-neutral-0);
  }

  &--pro {
    --custom-badge-background-color: var(--strapi-primary-600);
    --custom-badge-color: #fff;
  }

  &--team {
    --custom-badge-background-color: rgb(154, 53, 242);
    --custom-badge-color: #fff;
  }

  &--developer {
    --custom-badge-background-color: var(--strapi-success-600);
    --custom-badge-color: #fff;
  }

  &--new {
    --custom-badge-background-color: var(--strapi-warning-100);
    --custom-badge-border-color: var(--strapi-warning-200);
    --custom-badge-color: var(--strapi-warning-700);

    --ifm-badge-padding-horizontal: 2px;
    --ifm-badge-padding-vertical: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    min-width: 52px;
    border: 1px solid var(--custom-badge-border-color);
  }

  &--updated {
    --custom-badge-background-color: var(--strapi-secondary-100);
    --custom-badge-border-color: var(--strapi-secondary-200);
    --custom-badge-color: var(--strapi-secondary-600);

    --ifm-badge-padding-horizontal: 2px;
    --ifm-badge-padding-vertical: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    min-width: 52px;
    border: 1px solid var(--custom-badge-border-color);
    flex-shrink: 0;
  }

}

h1 .badge {
  --custom-badge-inside-titles-top: -.4em;
}

h2 .badge {
  --custom-badge-inside-titles-top: -.3em;
}

.badge + p {
  margin-top: 40px;
}

/** Dark mode */
@include dark {
  .badge {
    &--new {
      --custom-badge-background-color: var(--strapi-neutral-100);
      --custom-badge-border-color: var(--strapi-warning-500);
      --custom-badge-color: var(--strapi-warning-500);
    }
    &--updated {
      --custom-badge-background-color: var(--strapi-neutral-100);
      --custom-badge-border-color: var(--strapi-secondary-500);
      --custom-badge-color: var(--strapi-secondary-500);
    }
  }
}
