/** Component: Feature Badges (alpha, beta) */

.badge {
  --custom-badge-background-color: var(--strapi-neutral-200);
  --custom-badge-color: var(--strapi-neutral-800);
  --custom-badge-font-size: var(--strapi-font-size-xxs);
  --custom-badge-line-height: var(--strapi-line-height-xs);

  --custom-selection-background-color: var(--custom-badge-color);

  --ifm-badge-background-color: var(--custom-badge-background-color);
  --ifm-badge-color: var(--custom-badge-color);
  --ifm-badge-border-radius: var(--strapi-spacing-1);
  --ifm-badge-padding-horizontal: 7px;
  --ifm-badge-padding-vertical: 6px;

  --ifm-font-weight-bold: var(--strapi-font-size-sm);
  --ifm-link-color: var(--ifm-badge-color);
  --ifm-link-hover-color: var(--ifm-badge-color);

  position: relative;
  top: var(--custom-badge-inside-titles-top);
  font-size: var(--custom-badge-font-size);
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--custom-badge-border-color);
  margin-bottom: 6px;

  a {
    text-decoration: none;
  }

  .strapi-icons {
    margin-right: 6px;
    font-size: 12px;
    position: relative;
    top: 1px;
  }

  &-link {
    font-weight: 500;
    text-decoration: none;
  }

  & + .badge {
    margin-left: 2px;
  }

  &--alpha,
  &--beta,
  &--version {
    height: 27px;
    position: relative;
    padding-top: 8px;
    font-weight: 600;
  }

  &--alpha {
    --custom-badge-background-color: var(--strapi-warning-100);
    --custom-badge-color: var(--strapi-warning-600);
    --custom-badge-border-color: var(--strapi-warning-200);
  }

  &--beta {
    --custom-badge-background-color: var(--strapi-secondary-100);
    --custom-badge-color: var(--strapi-secondary-600);
    --custom-badge-border-color: var(--strapi-secondary-200);
  }

  &--version {
    --custom-badge-background-color: var(--strapi-neutral-100);
    --custom-badge-color: var(--strapi-neutral-600);
    --custom-badge-border-color: var(--strapi-neutral-200);
  }

  &--featureflag {
    --custom-badge-background-color: var(--strapi-alternative-100);
    --custom-badge-color: var(--strapi-alternative-600);
    --custom-badge-border-color: var(--strapi-alternative-200);
  }

  &--enterprise {
    --custom-badge-background-color: var(--strapi-warning-600);
    --custom-badge-color: var(--strapi-neutral-0);
  }

  &--pro {
    --custom-badge-background-color: var(--strapi-primary-600);
    --custom-badge-color: #fff;
  }

  &--team {
    --custom-badge-background-color: rgb(154, 53, 242);
    --custom-badge-color: #fff;
  }

  &--developer {
    --custom-badge-background-color: var(--strapi-success-600);
    --custom-badge-color: #fff;
  }

  &--content {
    height: 20px;
  }

  &--new {
    --custom-badge-background-color: var(--strapi-alternative-100);
    --custom-badge-border-color: var(--strapi-alternative-200);
    --custom-badge-color: var(--strapi-alternative-600);

    --ifm-badge-padding-horizontal: 2px;
    --ifm-badge-padding-vertical: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    min-width: 52px;
    border: 1px solid var(--custom-badge-border-color);
  }

  &--updated {
    --custom-badge-background-color: var(--strapi-secondary-100);
    --custom-badge-border-color: var(--strapi-secondary-200);
    --custom-badge-color: var(--strapi-secondary-600);

    --ifm-badge-padding-horizontal: 2px;
    --ifm-badge-padding-vertical: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    min-width: 52px;
    border: 1px solid var(--custom-badge-border-color);
    flex-shrink: 0;
  }
}

/**
 * New/updated badges in main content gutter
 */
main .badge--content {
  position: absolute;
  left: -36px;
  min-width: 0;
  max-width: 22px;

  .badge__text {
    display: none;
  }

  .strapi-icons {
    left: 2px;
    top: -2px;
  }
}

main h1:has(.badge--content),
main h2:has(.badge--content),
main h3:has(.badge--content),
main h4:has(.badge--content),
main .theme-admonition:has(.badge--content),
main .badge--content + img,
main [class*="tabItem"]:has(.badge--content),
main [class*="collapsibleContent"]:has(.badge--content),
main .badge--content:has( + [class*="codeBlockContainer"]),
main .badge--content:has(+ table) + table,
main p:has(.badge--content) {
  position: relative;
}

main h1:has(.badge--content) .badge--content {
  top: 6px;
}
main h2:has(.badge--content) .badge--content {
  top: 30px;
}
main h3:has(.badge--content) .badge--content {
  top: 4px;
}
main h4:has(.badge--content) .badge--content {
  top: 2px;
}
main .theme-admonition:has(.badge--content) .badge--content {
  top: -4px;
}
main [class*="collapsibleContent"]:has(.badge--content) .badge--content {
  top: 20px;
  left: -60px;
}
main p:has(+ .badge--content + [class*="codeBlockContainer"]) {
  margin-bottom: 0;
}
main .badge--content + img {
  position: relative;
  top: -12px;
}
main .badge--content:has(+ img) {
  position: relative;
  top: 12px;
}
/**
 * Adjustments for code blocks as we can't rely on child elements positioning
 */
main .badge--content:has(+ [class*="codeBlockContainer"]) {
  top: 42px;
}
main [class*="tabItem"] .badge--content + [class*="codeBlockContainer"] {
  position: relative;
  top: -26px !important;
}
main [class*="tabItem"] .badge--content:has(+ [class*="codeBlockContainer"]) {
  top: 0;
}
/**
 * Adjustments for tables as we can't rely on table-based positioning
 */
main .badge--content:has(+ table) {
  left: 364px;
}
// Adjustment for when the sidebar is collapsed
[class*="docSidebarContainerHidden"] ~ main .badge--content:has(+ table) {
  left: 210px;
}

/**
 * New/updated badges in TOC (sidebar)
 */
.menu .badge--content {
  > span {
    position: relative;
    top: -3px;
  }
  .badge__text {
    font-size: var(--strapi-font-size-xxs);
    font-weight: 600;
    position: relative;
    right: 2px;
  }
  .badge--new {
    min-width: 57px;
  }
  .badge--updated {
    min-width: 84px;
  }
  .strapi-icons {
    left: 1px;
  }
}
.menu__link:has(.badge--content) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .badge--content {
    margin-left: 8px;
  }
}

/**
 * Spacing adjustments
 */
h1 .badge {
  --custom-badge-inside-titles-top: -.4em;
}
h2 .badge {
  --custom-badge-inside-titles-top: -.3em;
}

.badge + p {
  margin-top: 48px;
}
.theme-admonition {
  .badge + p {
    margin-top: 0;
  }
}


/** Dark mode */
@include dark {
  .badge {
    &--new {
      --custom-badge-background-color: var(--strapi-neutral-100);
      --custom-badge-border-color: var(--strapi-warning-500);
      --custom-badge-color: var(--strapi-warning-500);
    }
    &--updated {
      --custom-badge-background-color: var(--strapi-neutral-100);
      --custom-badge-border-color: var(--strapi-secondary-500);
      --custom-badge-color: var(--strapi-secondary-500);
    }
    &--enterprise {
      --custom-badge-color: var(--strapi-neutral-1000);
    }
    &--alpha,
    &--beta,
    &--featureflag,
    &--version {
      --custom-badge-background-color: var(--strapi-neutral-100);
      --custom-badge-border-color: var(--strapi-neutral-200);
    }
    &--beta {
      --custom-badge-color: var(--strapi-secondary-200);
    }
    &--featureflag {
      --custom-badge-color: var(--strapi-alternative-500);
      .strapi-icons {
        color: var(--strapi-alternative-200) !important;
      }
    }
    &--pro {
      --custom-badge-background-color: #4945FF;
    }
    &--version {
      --custom-badge-color: var(--strapi-neutral-400);
    }
  }
}
