/** Component: Code Block */

:root {
  --custom-code-block-background-color: var(--strapi-neutral-0);
  --custom-code-block-background-color-highlighted: var(--strapi-neutral-800);
  --custom-code-block-color: var(--strapi-neutral-800);
  --custom-code-block-comment-color: var(--strapi-neutral-500);
  --custom-code-block-key-color: var(--strapi-success-300);
  --custom-code-block-number-color: var(--strapi-success-500);
  --custom-code-block-punctuation-color: var(--strapi-neutral-800);
  --custom-code-block-property-color: var(--strapi-success-200);
  --custom-code-block-value-color: var(--strapi-neutral-0);
  --custom-code-block-plain-color: var(--strapi-neutral-800);
  --custom-code-block-font-size: var(--strapi-font-size-sm);
  --custom-code-block-line-height: var(--strapi-line-height-sm);
  --custom-code-block-title-font-family: font-family: "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --custom-code-block-border-color: var(--strapi-neutral-200);
}

pre {
  --ifm-code-border-radius: 6px;
  --ifm-pre-border-radius: 6px;

  background: var(--custom-code-block-background-color);
  color: var(--custom-code-block-color);
  font-size: var(--custom-code-block-font-size);
  line-height: var(--custom-code-block-line-height);

  code {
    --ifm-code-border-radius: 6px;
    background: var(--custom-code-block-background-color);

    line-height: 1.7 !important;

    a {
      --ifm-link-color: var(--strapi-alternative-500);
      --ifm-link-hover-color: var(--strapi-alternative-500);

      font-weight: 700;
    }
  }
}

pre,
.theme-code-block {
  --ifm-scrollbar-track-background-color: var(--strapi-neutral-800);
  --ifm-scrollbar-thumb-background-color: var(--strapi-neutral-700);
  --ifm-scrollbar-thumb-hover-background-color: var(--strapi-neutral-500);

  --prism-background-color: var(--custom-code-block-background-color) !important;
  --prism-color: var(--custom-code-block-color);
  border-radius: var(--strapi-spacing-1);
  box-shadow: none;
}

.theme-code-block {
  border: solid 1px var(--custom-code-block-border-color);
}

pre.prism-code {
  code {
    .token {
      color: var(--strapi-neutral-800) !important;
      // TODO: define syntax coloring

      &.comment {
        color: var(--custom-code-block-comment-color) !important;
        font-style: italic;
      }

      &.key {
        // color: var(--custom-code-block-key-color) !important;
      }

      &.number {
        // color: var(--custom-code-block-number-color) !important;
      }

      &.plain {
        // color: var(--custom-code-block-plain-color) !important;
      }

      &.property {
        // color: var(--custom-code-block-property-color) !important;
      }

      &.operator,
      &.punctuation,
      &.property-access,
      &.parameter,
      &.literal-property,
      &.string {
        // color: var(--custom-code-block-punctuation-color) !important;
      }
      &.function {
        // color: var(--strapi-secondary-700) !important;
      }
    }
  }
}

.api-call {
  .theme-code-block {
    [class*="highlighted-line"] {
      // background-color: var(--custom-code-block-background-color-highlighted);
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.theme-code-block {
  &[class*="codeBlockContainer"],
  [class*="codeBlockContainer"] {
    background: var(--custom-code-block-background-color);

    &:not(:has([class*="codeBlockTitle"])) {
      border: none;

      .prism-code {
        background-color: white !important;
        // TODO fix by finding a better way
      }
    }
  }

  [class*="highlighted-line"] {
    background-color: var(--custom-code-block-background-color-highlighted);
  }

  /** Title element */
  [class*="codeBlockTitle"] {
    border-bottom: none;
    color: var(--strapi-neutral-800);
    font-family: var(--custom-code-block-title-font-family);
    background-color: var(--strapi-neutral-100);
    border-bottom: solid 1px var(--custom-code-block-border-color);

    &:before {
      content: '\e230';
      font-family: "Phosphor"; // using https://phosphoricons.com
      display: inline-block;
      vertical-align: top;
      margin-right: 4px;
      // TODO: convert to fill version
    }
  }

  [class*="codeLineNumber"] {
    position: relative;
    left: 6px;

    &::before {
      color: var(--strapi-neutral-800);
    }
    // border-right: solid 1px var(--strapi-neutral-800);
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      margin-left: 24px;
      background-color: var(--strapi-neutral-200);
    }

    &:first-of-type {
      &::after {
        // background-color: tomato;
      }
    }
  }

  [class*="codeBlockLines"] {
    border: none;
    // padding-top: 0;

    > .token-line[class*="codeLine"]:first-of-type {
      // background-color: tomato;
      // line-height: 40px;
      // vertical-align: top;
    }
  }

  [class*="codeBlockContent"] {
    border-radius: 0;
    border-color: transparent;
    border: none;
  }

  [class*="codeLineContent"] {
    margin-left: 32px;
  }

  .clean-btn {
    background-color: white;
    position: relative;
    top: -50px;

    svg {
      color: black;
    }
  }
}


/** Dark theme */
@include dark {
  --custom-code-block-background-color: var(--strapi-neutral-100);
  --custom-code-block-background-color-highlighted: var(--strapi-neutral-150);
  --custom-code-block-color: var(--strapi-neutral-1000);
  --custom-code-block-punctuation-color: var(--strapi-primary-200);
  --custom-code-block-value-color: var(--strapi-neutral-900);

  pre,
  .theme-code-block {
    --ifm-scrollbar-track-background-color: var(--strapi-neutral-200);
    --ifm-scrollbar-thumb-background-color: var(--strapi-neutral-300);
  }

  .clean-btn {
    background-color: var(--strapi-neutral-100);

    svg {
      color: var(--strapi-neutral-900);
    }
  }

  .theme-code-block {
    &[class*="codeBlockContainer"],
    [class*="codeBlockContainer"] {
      &:not(:has([class*="codeBlockTitle"])) {
        .prism-code {
          background-color: var(--strapi-neutral-0) !important;
          // TODO fix by finding a better way
        }
      }
    }
  }
}
