.my-custom-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: var(--strapi-input-border);
  border-radius: 4px;
  background-color: white;
  position: relative;
  top: 60px;
  left: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 232px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);

  .DocSearch.DocSearch-Button:hover {
    box-shadow: none;
  }

  .DocSearch.DocSearch-Button,
  .kapa-widget-button {
    font-size: var(--strapi-font-size-sm);
    line-height: var(--strapi-font-size-sm);
    flex: 1 1 50%;
    height: 34px !important;
  }

  .DocSearch.DocSearch-Button {
    background-color: transparent;
    width: 65%;
    border: none;
    justify-content: flex-start;
    margin: 0;
    border-radius: 4px 0 0 4px;
    position: relative;
    padding-left: 12px;
    padding-right: 0;
    border-right: solid 1px var(--strapi-neutral-200);

    &:hover {
      color: var(--strapi-primary-600);
      border-radius: 4px 0 0 4px;

      .DocSearch-Button-Placeholder::before {
        content:'\E30C';
        color: var(--strapi-neutral-500) !important;
      }
    }
  }

  .DocSearch-Button-Placeholder {
    font-size: var(--strapi-font-size-sm);
    line-height: var(--strapi-line-height-sm);
    padding-left: 0;

    &::before {
      content: '\E30C';
      font-family: "Phosphor";
      color: var(--strapi-neutral-500);
      margin-right: 6px;
      font-size: 16px;
      position: relative;
      top: 2px;
    }
  }

  .DocSearch-Search-Icon {
    display: none;
  }

  .DocSearch-Button-Keys {
    display: none;
    // min-width: 30px;
    // position: relative;
    // top: 1px;
    // font-size: 1rem;

    // .DocSearch-Button-Key {
    //   color: var(--strapi-neutral-500);
    //   box-shadow: none;
    //   background: none;
    //   border-radius: 0;
    //   padding: 0;
    //   margin-right: 0;
    //   width: 10px;
    // }
  }


  button.kapa-widget-button {
    border: none;
    padding: 0 0 0 12px;
    width: 100%;
    height: 36px;
    overflow: visible;
    cursor: pointer;
    position: relative;
    border-radius: 0 6px 6px 0;
    background: transparent;
    text-align: left;

    /* inherit font & color from ancestor */
    color: var(--strapi-neutral-400);
    font: inherit;
    font-size: .95rem;
    font-weight: 500;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    svg {
      position: relative;
      left: 6px;
      top: 3px;
      width: 18px;
      height: 18px;
      fill: var(--strapi-neutral-500);
    }

    .kapa-widget-button-text {
      position: relative;
      font-size: var(--strapi-font-size-sm);
      line-height: var(--strapi-line-height-sm);
      top: 1px;

      i {
        margin-right: 6px;
        color: var(--strapi-neutral-500) !important;
      }

      @media screen and (max-width: 996px){
        left: 12px;
      }
    }

    &:hover,
    &:active {
      .kapa-widget-button-text {
        color: var(--strapi-primary-600);
      }
      button {
        svg {
          fill: var(--strapi-primary-600);
        }
      }
    }
  }

  &::after {
    position: absolute;
    content: '';
    height: 60px;
    left: -26px;
    right: -16px;
    top: 40px;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, var(--strapi-neutral-0) 100%);
  }
}

@media (max-width: 768px) {
  .my-custom-search-bar {
    .kapa-widget-button-text {
      display: none;
    }
    .kapa-widget-button {
      border-radius: 50%;
      padding: 0;
      padding-right: 4px;
    }
  }
}

@include dark {
  .my-custom-search-bar {
    background: var(--strapi-neutral-0);
    border: var(--strapi-input-border);
    color: var(--strapi-dark-100);
  }
}
