.custom-cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 715px;
  justify-content: flex-start;

  .custom-doc-card {
    max-width: 320px;
    width: 320px;
    margin-bottom: 10px;
    margin-right: 20px;

    a {
      height: 170px;
      text-decoration: none;
    }

    a:hover {
      .cardTitle {
        color: var(--strapi-primary-600);
      }
    }

    .text--truncate.cardDescription {
      // cancel --truncate styles since we can't remove the class
      overflow: auto;
      white-space: normal;
    }
  }
}
