.my-custom-search-bar {
  // background-color: tomato;
  display: flex;
  justify-content: space-evenly;
  border: var(--strapi-input-border);
  border-radius: 6px;

  .DocSearch.DocSearch-Button {
    width: 60%;
    border: none;
  }

  .DocSearch-Button-Keys {
    min-width: 30px;
    position: relative;
    top: 1px;
  }

  .kapa-widget-button {
    appearance: none;
    background: none;
    border: none;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    // font: inherit;
    color: inherit;
    text-align: inherit;
    line-height: inherit;
    cursor: pointer;
    outline: none;

    &-text {
      font-size: var(--custom-navbar-items-font-size);
      color: var(--strapi-neutral-500);
      position: relative;
      font-weight: 500;
      top: -5px;
    }

    svg {
      margin-left: 6px;
      fill: var(--strapi-neutral-500);
      position: relative;
      top: 6px;
      width: 27px;
      height: 27px;
    }

    &:hover {
      box-shadow: 0 0 0 2px var(--strapi-primary-600);
      border-radius: 6px;
    }
  }
}
