/** Use this later to define custom styles for icons
*/
article {
  .strapi-icons {
    position: relative;
    top: 2px;
  }
}

.strapi-icons.external-link::before {
  text-decoration: none !important;
  position: relative;
  top: -2px;
}
