/** General: Images */

/** Dark Mode images border */
.theme-doc-markdown.markdown [class*="themedImage--dark"] {
  border: 0.125rem solid var(--strapi-neutral-200);
  border-radius: 0.25rem;
}

.markdown img:not([src^="data:image/svg+xml"]) {
  margin-bottom: 26px;
}


img[src^="data:image/svg+xml"] {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

@include dark {
  img[src^="data:image/svg+xml"] {
    background-color: white;
  }
}

