/** General: Images */
@use './mixins' as *;

/** Reserve space for hero/first images to avoid initial layout shift */
@include medium-up {
  .theme-doc-markdown.markdown > p:first-child > img,
  .theme-doc-markdown.markdown > figure:first-child img,
  .markdown > p:first-child > img,
  .markdown > figure:first-child img {
    /* If no dimensions provided, reserve a conservative aspect ratio */
    aspect-ratio: var(--doc-first-image-aspect, 16 / 9);
    height: auto;
    width: 100%;
    display: block;
  }

  /* Also cover ThemedImage/picture wrappers often used for hero images */
  .theme-doc-markdown.markdown > *:first-child [class*="themedImage"] img,
  .theme-doc-markdown.markdown > *:first-child picture > img,
  .markdown > *:first-child [class*="themedImage"] img,
  .markdown > *:first-child picture > img {
    aspect-ratio: var(--doc-first-image-aspect, 16 / 9);
    height: auto;
    width: 100%;
    display: block;
  }
}

/** Dark Mode images border */
.theme-doc-markdown.markdown [class*="themedImage--dark"],
.theme-doc-markdown.markdown [class*="themedComponent"] {
  border: solid 1px var(--strapi-neutral-200);
  border-radius: 4px;
}

.markdown img:not([src^="data:image/svg+xml"]) {
  margin-bottom: 26px;
}


img[src^="data:image/svg+xml"] {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

li > img {
  margin-bottom: 0 !important;
}

@include dark {
  img[src^="data:image/svg+xml"] {
    background-color: white;
  }
}
