/** General: Images */

/** Dark Mode images border */
.theme-doc-markdown.markdown [class*="themedImage--dark"],
.theme-doc-markdown.markdown [class*="themedComponent"] {
  border: solid 1px var(--strapi-neutral-200);
  border-radius: 4px;
}

.markdown img:not([src^="data:image/svg+xml"]) {
  margin-bottom: 26px;
}

.markdown h1 img,
.markdown h2 img,
.markdown h3 img,
.markdown h4 img,
.markdown h5 img,
.markdown h6 img,
.markdown ul img {
  margin-bottom: 0 !important;
}


img[src^="data:image/svg+xml"] {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

@include dark {
  img[src^="data:image/svg+xml"] {
    background-color: #1E1E2D
  }
}

