/** Component: Navbar */

$selector-color-mode-toggle-button: 'button[class*="ColorModeToggle"]';
$selector-color-mode-toggle-wrapper: 'div[class*="ColorModeToggle"]';

:root body {
  --docsearch-searchbox-background: var(--strapi-neutral-150);
  --docsearch-searchbox-shadow: 0 0 0 2px var(--strapi-primary-600);
  --docsearch-muted-color: var(--strapi-neutral-400);
  --docsearch-text-color: var(--strapi-neutral-400);

  --ifm-navbar-height: 56px;
  --ifm-navbar-padding-vertical: var(--strapi-spacing-1);
  --ifm-navbar-padding-horizontal: var(--strapi-spacing-2);
  --ifm-navbar-shadow: 0 1px 0 0 var(--strapi-neutral-150);
}

.navbar {
  --custom-navbar-brand-mr: 0;
  --custom-navbar-icon-color: var(--strapi-neutral-500);
  --custom-navbar-icon-button-size: 36px;
  --custom-navbar-icon-button-hover-background: var(--strapi-neutral-100);
  --custom-navbar-items-font-size: var(--strapi-font-size-sm);
  --custom-navbar-items-gap: var(--strapi-spacing-3);
  // --custom-navbar-logo-img-height: 25px;
  --custom-navbar-logo-img-width: 194px;
  --custom-navbar-toggle-mr: var(--strapi-spacing-1);
  --custom-navbar-transition: all 0.2s ease;

  --ifm-navbar-padding-horizontal: var(--custom-navbar-items-gap);

  transition: var(--custom-navbar-transition);

  &__items {
    display: flex;
    gap: var(--strapi-spacing-2);
    justify-content: space-between;
    align-items: center;
  }

  &__items:not(.navbar__items--right) {
    width: calc(100%);
    margin-left: calc(194px + 20px);
  }

  &__item {
    color: var(--strapi-neutral-600);
  }

  &__item i {
    margin-right: 4px;
    color: #8E8EA9;
  }

  &__brand,
  &__logo {
    height: auto;
    line-height: 0;
  }

  &__brand {
    margin-right: auto;
    position: absolute;
    left: 20px;
  }

  &__items::before, &__items::after {
    content: '';
    flex: 1;
  }

  &__toggle {
    margin-right: var(--custom-navbar-toggle-mr);
  }

  &__logo {
    margin-right: 0;

    img {
      height: var(--custom-navbar-logo-img-height);
      width: var(--custom-navbar-logo-img-width);
    }
  }

  &__link {
    --ifm-navbar-link-hover-color: var(--strapi-neutral-800);
    font-size: var(--custom-navbar-items-font-size);
    border-radius: 4px;
    border: solid 1px transparent;

    &--active {
      color: var(--strapi-primary-600);
      background-color: var(--strapi-primary-100);

      i {
        color: var(--strapi-primary-600);
      }
    }

    &:hover {
      color: var(--strapi-primary-600);

      i {
        color: var(--strapi-primary-600);
      }
    }
  }

  &__link svg,
  .navbar-sidebar__close,
  .DocSearch-Button,
  #{$selector-color-mode-toggle-button} {
    color: var(--custom-navbar-icon-color);
  }

  .navbar-sidebar__close,
  .DocSearch-Button,
  #{$selector-color-mode-toggle-button} {
    --ifm-color-emphasis-600: currentColor;

    background: transparent;
    border-radius: 50%;

    &:hover {
      background: var(--custom-navbar-icon-button-hover-background);
    }
  }

  .navbar__toggle,
  .navbar-sidebar__close,
  #{$selector-color-mode-toggle-wrapper} {
    align-items: center;
    justify-content: center;
    height: var(--custom-navbar-icon-button-size);
    width: var(--custom-navbar-icon-button-size);
  }

  .DocSearch-Button {
    width: var(--custom-navbar-search-button-width);
  }

  .kapa-widget-button {
    button {
      border: none;
      padding: 0;
      width: auto;
      overflow: visible;
      cursor: pointer;

      background: transparent;

      /* inherit font & color from ancestor */
      color: inherit;
      font: inherit;

      /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
      line-height: normal;

      /* Corrects font smoothing for webkit */
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;

      /* Corrects inability to style clickable `input` types in iOS */
      -webkit-appearance: none;
          /* Remove excess padding and border in Firefox 4+ */
      &::-moz-focus-inner {
        border: 0;
        padding: 0;
      }

      svg {
        position: relative;
        top: 2px;
        width: 18px;
        height: 18px;
        fill: var(--strapi-neutral-600)
      }

      .kapa-button-label {
        position: relative;
        left: 6px;

        @media screen and (max-width: 996px){
          left: 12px;
        }
      }
    }

    &:hover {
      .kapa-button-label {
        color: var(--strapi-primary-600);
      }
      button {
        svg {
          fill: var(--strapi-primary-600);
        }
      }
    }
  }

  /** Color mode toggle hover effect */
  button[class*="ColorModeToggle"]:hover { // local selector
    svg path {
      fill: var(--strapi-primary-600);
    }
  }
  div[class*="colorModeToggle"]:hover { // production selector
    button svg path {
      fill: var(--strapi-primary-600);
    }
  }
}

/** Responsive */
@include small-up {
  .navbar {
    .DocSearch-Button {
      --custom-navbar-icon-button-hover-background: var(--strapi-neutral-0);

      color: var(--strapi-neutral-400);
      border: var(--strapi-input-border);
      border-radius: 6px;
      font-family: var(--ifm-font-family-base);
      height: 40px;
      padding: 0 var(--strapi-spacing-3);
      background-color: var(--custom-navbar-icon-button-hover-background);

      svg path {
        stroke-width: 2px;
      }

      &-Container {
        gap:  var(--strapi-spacing-1);
      }

      &-Placeholder,
      &-Key {
        font-size: var(--custom-navbar-items-font-size);
      }

      &-Key {
        margin: 0;
        padding: 0;
        width: 14px;
        height: 14px;
        background: none;
        border: none;
        box-shadow: none;
        font-weight: 600;
        line-height: 0;
        align-items: center;
        justify-content: center;

        &:first-of-type {
          font-size: 150%;
        }
      }

      &-Keys {
        padding: 2px 0 0;
        justify-content: end;
      }
    }
  }
}

/** Responsive */
@include medium-up {
  .navbar {
    --custom-navbar-brand-mr: 75px;
    --custom-navbar-items-gap: var(--strapi-spacing-4);
    --custom-navbar-search-button-width: 266px;

    --ifm-navbar-padding-horizontal: var(--custom-navbar-items-gap);
  }
}

@include dark {
  .kapa-widget-button {
    button {
      svg {
        fill: var(--strapi-neutral-800);
      }
    }
  }

  .navbar__link:not(.navbar__link--active) {
    color: var(--strapi-neutral-400);
  }
}
