.release-notes-page {
  a {
    // pointer-events: auto;
  }
  img.no-zoom {
    pointer-events: none;
  }
}

.theme-doc-markdown:has(.release-notes-page) {
  h1 {
    margin-top: 2rem;
  }
  h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  h4 {
    margin-bottom: .5rem;
  }
}
