.release-notes-page {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 0.9em;
}

.markdown:has(.release-notes-page) h1,
.markdown:has(.release-notes-page--detailed) h1 {
  margin-top: 1em;
}

.release-notes-page ul {
  padding-left: 1.5em;
  margin-top: 0.5em;
}

.release-notes-page ul li {
  margin-bottom: 0.5em;
}

.release-notes-page .contributors-section {
  margin-top: 20px;
  font-style: italic;
}

.release-notes-page .contributor-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  margin-left: 5px;
}

/** Detailed version */
.release-notes-page--detailed details,
.release-notes-page--detailed .details--only-internal {
  margin-bottom: 1em;
  margin-left: .2em;
  padding: 0;
  background: none;
  font-size: 0.9em;
  border: none;
  box-shadow: none;
}

.release-notes-page--detailed .details--only-internal {
  margin-top: 0;
  color: var(--strapi-neutral-500);
}

.release-notes-page--detailed h3:not(:first-of-type) {
  margin-top: 2.5em;
}

.release-notes-page--detailed h3 ~ ul {
  margin-left: .7em;
}

.release-notes-page--detailed details summary ~ div > div {
  padding-top: 0;
  padding-left: 1.2em;
}

.release-notes-page--detailed details > div > div > p:not(:first-child) {
  margin-top: 1em;
}

.release-notes-page--detailed details > div > div > p {
  margin-bottom: 0;
}

.release-notes-page--detailed details > div > div > ul li {
  margin: 0.1em 0;
}

.release-notes-page--detailed details summary {
  list-style: none;
  border: none;
  box-shadow: none;
  color: var(--strapi-neutral-700);

  &::before {
    border-color: transparent transparent transparent var(--strapi-neutral-700);
  }
}

.release-notes-page--detailed details ul {
  padding-left: 1.5em;
  margin-top: 0.5em;
}

.release-notes-page--detailed details ul li {
  margin-bottom: 0.5em;
}

.release-notes-page--detailed .contributors-section {
  margin-top: 20px;
  font-style: italic;
}

.release-notes-page--detailed .contributors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.release-notes-page--detailed .contributor-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.release-notes-page--detailed .image-comparison img {
  max-width: 300px;
  max-height: 300px;
  display: block;
}

.release-notes-page--detailed .image-comparison {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.release-notes-page--detailed .image-comparison div {
  text-align: center;
  font-size: 0.8em;
  color: #666;
}
