/** Component: Sidebar / Menu */

$selector-color-mode-toggle-button: 'button[class*="ColorModeToggle"]';
$selector-color-mode-toggle-wrapper: 'div[class*="ColorModeToggle"]';

:root body {
  --doc-sidebar-width: 290px;
}

.navbar-sidebar {
  &__brand {
    --custom-navbar-sidebar-horizontal-padding: calc(var(--custom-navbar-items-gap) * 2);
    --ifm-navbar-padding-horizontal:
      var(--custom-navbar-items-gap)
      var(--ifm-navbar-padding-vertical)
      var(--custom-navbar-sidebar-horizontal-padding)
    ;
  }

  &__back {
    --ifm-menu-color-background-active: var(--strapi-neutral-100);
    top: -0.95rem;
    margin-bottom: -0.45rem;
  }

  .navbar__brand {
    flex-grow: 1;
  }

  .navbar-sidebar__close,
  #{$selector-color-mode-toggle-wrapper} {
    display: flex;
  }

  .navbar-sidebar__close {
    margin-left: initial;
    padding: 9px;
  }

  #{$selector-color-mode-toggle-wrapper} {
    margin-right: 0 !important;
  }
}

.menu {
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color-background-hover: var(--strapi-neutral-100);

  --custom-sidebar-caret-size: 1.25rem;
  --custom-sidebar-menu-font-weight: 400;
  --custom-sidebar-menu-padding-y: var(--strapi-spacing-4);

  font-weight: var(--custom-sidebar-menu-font-weight);
  padding-top: var(--custom-sidebar-menu-padding-y) !important;

  &__caret {
    &:before {
      background-size: var(--custom-sidebar-caret-size);
    }
  }

  &__list {
    &-item {
      font-size: var(--custom-sidebar-menu-list-item-font-size, inherit);

      &-collapsible {
        &:hover {
          background-color: var(--ifm-menu-color-background-hover);
        }
      }
    }
  }

  &__link {
    font-weight: 500;
    @include transition;

    &:hover {
      --ifm-menu-color: var(--strapi-neutral-800);
    }

    &--active {
      --ifm-menu-color-active: var(--strapi-neutral-700);

      font-weight: 700;

      &:not(.menu__link--sublist) {
        --ifm-menu-color-active: var(--strapi-primary-600);

        position: relative;

        &:before {
          position: absolute;
          content: " ";
          width: 5px;
          top: 0;
          bottom: 0;
          left: var(--custom-sidebar-menu-list-item-link-active-left, -8px);
          background-color: var(--strapi-primary-600);
          border-radius: 0 2px 2px 0;
        }
      }
    }

    &--sublist-caret {
      --ifm-menu-color: var(--strapi-neutral-800);
      --ifm-menu-color-active: var(--strapi-neutral-800);

      &:after {
        background-size: var(--custom-sidebar-caret-size);
      }
    }
  }

  .theme-doc-sidebar {
    &-item {
      &-category {
        &-level-1 {
          --custom-sidebar-menu-list-item-py: var(--strapi-spacing-2);

          padding-top: var(--custom-sidebar-menu-list-item-py);
          padding-bottom: var(--custom-sidebar-menu-list-item-py);

          > .menu__list-item-collapsible {
            font-weight: 700;
            font-size: var(--strapi-font-size-lg);
          }
        }
      }

      &-category, &-link {
        &-level {
          &-1 {
            --custom-sidebar-menu-list-item-font-size: var(--strapi-font-size-lg);
          }

          &-2 {
            --custom-sidebar-menu-list-item-font-size: var(--strapi-font-size-md);
            --custom-sidebar-menu-list-item-link-active-left: -20px;
          }

          &-3 {
            --custom-sidebar-menu-list-item-font-size: var(--strapi-font-size-sm); // next levels will have this same value
            --custom-sidebar-menu-list-item-link-active-left: -32px;
          }

          &-4 {
            --custom-sidebar-menu-list-item-link-active-left: -44px;
          }

          &-5 {
            --custom-sidebar-menu-list-item-link-active-left: -56px;
          }
        }
      }
    }
  }
}

.theme-doc-sidebar-container {
  --docusaurus-collapse-button-bg: var(--strapi-neutral-0);
  --docusaurus-collapse-button-bg-hover: var(--strapi-neutral-100);
}

/** Dark mode */
@include dark {
  .theme-doc-sidebar-container {
    .menu {
      --ifm-menu-color-background-hover: var(--strapi-neutral-100);

      &__link--active {
        --ifm-menu-color-active: var(--strapi-neutral-800);

        &:not(.menu__link--sublist) {
          --ifm-menu-color-active: var(--strapi-primary-500);
        }
      }
    }
  }
}
