/** Component: Sidebar / Menu */

$selector-color-mode-toggle-button: 'button[class*="ColorModeToggle"]';
$selector-color-mode-toggle-wrapper: 'div[class*="ColorModeToggle"]';

:root body {
  --doc-sidebar-width: 280px;
}

.navbar-sidebar {
  --ifm-navbar-background-color: var(--strapi-neutral-0);

  &__brand {
    --custom-navbar-sidebar-horizontal-padding: calc(var(--custom-navbar-items-gap) * 2);
    --ifm-navbar-padding-horizontal:
      var(--custom-navbar-items-gap)
      var(--ifm-navbar-padding-vertical)
      var(--custom-navbar-sidebar-horizontal-padding)
    ;
  }

  &__back {
    --ifm-menu-color-background-active: var(--strapi-neutral-100);
    top: -0.95rem;
    margin-bottom: -0.45rem;
  }

  .navbar__brand {
    flex-grow: 1;
  }

  .navbar-sidebar__close,
  #{$selector-color-mode-toggle-wrapper} {
    display: flex;
  }

  .navbar-sidebar__close {
    margin-left: initial;
    padding: 9px;
  }

  #{$selector-color-mode-toggle-wrapper} {
    margin-right: 0 !important;
  }
}

.menu {
  --custom-sidebar-caret-size: 1.25rem;
  --custom-sidebar-menu-font-weight: 400;
  --custom-sidebar-menu-padding-y: var(--strapi-spacing-4);

  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color-background-hover: transparent;
  --ifm-menu-link-padding-vertical: var(--strapi-spacing-1);
  --ifm-menu-link-padding-horizontal: 0;

  font-weight: var(--custom-sidebar-menu-font-weight);
  padding-top: 4px;
  padding-left: 14px;
  padding-right: 2px;

  &__caret {
    margin: 0 0 0 3px;
    padding: 0;

    &:before {
      position: relative;
      top: 5px;
      background-size: var(--custom-sidebar-caret-size);
    }
  }

  &__caret,
  &__caret:before {
    height: 16px;
    width: 16px;
  }

  &__list {
    padding-left: 0;

    .menu__list,
    .theme-doc-sidebar-item-link,
    .theme-doc-sidebar-item-link a {
      padding-left: 0;
      padding-right: 4px;
    }

    .theme-doc-sidebar-item-category {
      padding-right: 4px;

      &-level-1 > .menu__list-item-collapsible > .menu__link {
        font-weight: bold;
      }
    }

    &-item {
      font-size: var(--custom-sidebar-menu-list-item-font-size, --strapi-font-size-sm);
      line-height: var(--strapi-line-height-sm);
      padding: 2px 10px 2px 0;

      &-collapsible {
        &:hover {
          background-color: var(--ifm-menu-color-background-hover);
        }
      }
    }

    .theme-doc-sidebar-item-link:has(.menu__link--active) {
      background-color: var(--strapi-primary-100);
      border-radius: 4px;
    }
  }

  &__link {
    min-height: var(--custom-menu-item-link-min-height, 24px);
    @include transition;

    &:hover {
      background-color: transparent;
      color: var(--strapi-primary-600);
    }

    &--sublist-caret {
      --ifm-menu-color: var(--strapi-neutral-800);
      --ifm-menu-color-active: var(--strapi-neutral-800);

      &:after {
        display: none;
      }
    }

    &--sublist {
      &.menu__link--with-badge {
        --custom-menu-link-content-mw: calc(100% - 84px);
      }
    }

    &--with-badge {
      max-width: 100%;

      .menu__link__content {
        max-width: var(--custom-menu-link-content-mw, calc(100% - 56px));
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__link__content {
    padding-right: 10px;
  }

  .badge {
    margin: -1px 0 -1px auto;
  }

  .theme-doc-sidebar {
    &-item {
      &-category {
        &-level-1 {
          --custom-sidebar-menu-list-item-py: var(--strapi-spacing-1);

          padding-top: var(--custom-sidebar-menu-list-item-py);
          padding-bottom: var(--custom-sidebar-menu-list-item-py);
          padding-bottom: 20px;

          > .menu__list-item-collapsible {
            // font-weight: 700;
            font-size: var(--strapi-font-size-sm);

            > a.menu__link,
            a.menu__link--active {
              color: var(--strapi-neutral-500);
            }
          }
        }

        &-level-2 ul {
          padding-left: 10px;

          a {
            padding-left: 10px;
          }
        }

        &-level-3 ul {
          padding-left: 20px;

          a {
            padding-left: 10px;
          }
        }
      }

      &-category, &-link {
        &-level {
          &-1 {
            --custom-sidebar-menu-list-item-font-size: var(--strapi-font-size-sm);
          }

          &-2 {
            --custom-sidebar-menu-list-item-font-size: var(--strapi-font-size-sm); // next levels will have this same value
            --custom-sidebar-menu-list-item-link-active-left: -30px;

            padding-left: 10px;
          }

          &-3 {
            --custom-sidebar-menu-list-item-link-active-left: -42px;
          }

          &-4 {
            --custom-sidebar-menu-list-item-link-active-left: -54px;
          }

          &-5 {
            --custom-sidebar-menu-list-item-link-active-left: -66px;
          }
        }
      }

      &-link:hover {
        color: var(--strapi-primary-600);
      }
    }

    &-menu {
      .theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible {
        padding-left: 10px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: var(--strapi-font-size-xs);
        color: var(--strapi-neutral-500);
        font-family: "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-weight: 500;

        a::before {
          font-family: "Phosphor";
          display: inline-block;
          color: var(--strapi-neutral-500);
          margin-right: 8px;
          font-size: var(--strapi-font-size-md);
          // TODO: use fill version
        }
      /**
       * Custom icons for categories
       * Using https://phosphoricons.com
       */
      }
      .theme-doc-sidebar-item-category-level-1.category-getting-started > .menu__list-item-collapsible a {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(142,142,169)' viewBox='0 0 256 256'><path d='M152,224a8,8,0,0,1-8,8H112a8,8,0,0,1,0-16h32A8,8,0,0,1,152,224Zm71.62-68.17-12.36,55.63a16,16,0,0,1-25.51,9.11L158.51,200h-61L70.25,220.57a16,16,0,0,1-25.51-9.11L32.38,155.83a16.09,16.09,0,0,1,3.32-13.71l28.56-34.26a123.07,123.07,0,0,1,8.57-36.67c12.9-32.34,36-52.63,45.37-59.85a16,16,0,0,1,19.6,0c9.34,7.22,32.47,27.51,45.37,59.85a123.07,123.07,0,0,1,8.57,36.67l28.56,34.26A16.09,16.09,0,0,1,223.62,155.83Zm-139.23,34Q68.28,160.5,64.83,132.16L48,152.36,60.36,208l.18-.13ZM140,100a12,12,0,1,0-12,12A12,12,0,0,0,140,100Zm68,52.36-16.83-20.2q-3.42,28.28-19.56,57.69l23.85,18,.18.13Z'/></svg>");
          position: relative;
          top: 2px;
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-setup-deployment > .menu__list-item-collapsible a {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='16' height='16' fill='rgb(142,142,169)'><rect width='16' height='16' /><path d='M232,120h-8.34a95.07,95.07,0,0,0-8.82-32.9l7.23-4.17a8,8,0,0,0-8-13.86l-7.25,4.19a97,97,0,0,0-24.08-24.08l4.19-7.25a8,8,0,0,0-13.86-8l-4.17,7.23A95.07,95.07,0,0,0,136,32.34V24a8,8,0,0,0-16,0v8.34a95.07,95.07,0,0,0-32.9,8.82l-4.17-7.23a8,8,0,0,0-13.86,8l4.19,7.25A97,97,0,0,0,49.18,73.26l-7.25-4.19a8,8,0,0,0-8,13.86l7.23,4.17A95.07,95.07,0,0,0,32.34,120H24a8,8,0,0,0,0,16h8.34a95.07,95.07,0,0,0,8.82,32.9l-7.23,4.17a8,8,0,0,0,4,14.93,7.92,7.92,0,0,0,4-1.07l7.25-4.19a97,97,0,0,0,24.08,24.08l-4.19,7.25a8,8,0,0,0,13.86,8l4.17-7.23a95.07,95.07,0,0,0,32.9,8.82V232a8,8,0,0,0,16,0v-8.34a95.07,95.07,0,0,0,32.9-8.82l4.17,7.23a8,8,0,0,0,13.86-8l-4.19-7.25a97,97,0,0,0,24.08-24.08l7.25,4.19A8,8,0,0,0,225,184a8,8,0,0,0-2.92-10.93l-7.23-4.17a95.07,95.07,0,0,0,8.82-32.9H232a8,8,0,0,0,0-16ZM72,128A55.91,55.91,0,0,1,93.38,84l25.38,44L93.38,172A55.91,55.91,0,0,1,72,128Zm56,56a55.67,55.67,0,0,1-20.78-4l25.4-44h50.8A56.09,56.09,0,0,1,128,184Zm4.62-64-25.4-44a56,56,0,0,1,76.2,44Z'/></svg>");
          position: relative;
          top: 1px;
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-advanced-features > .menu__list-item-collapsible a {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='16' height='16' fill='rgb(142,142,169)'><rect width='16' height='16' /><g opacity='0.2'><line x1='103.96' y1='126.94' x2='103.96' y2='126.94'/></g><path d='M232,96a72,72,0,0,1-100.94,66L79,222.22c-.12.14-.26.29-.39.42a32,32,0,0,1-45.26-45.26c.14-.13.28-.27.43-.39L94,124.94a72.07,72.07,0,0,1,83.54-98.78,8,8,0,0,1,3.93,13.19L144,80l5.66,26.35L176,112l40.65-37.52a8,8,0,0,1,13.19,3.93A72.6,72.6,0,0,1,232,96Z'/></svg>");
          position: relative;
          // top: 2px;
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-customization > .menu__list-item-collapsible a {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='16' height='16' fill='rgb(142,142,169)'><rect width='16' height='16' /><path d='M224,64H176V56a24,24,0,0,0-24-24H104A24,24,0,0,0,80,56v8H32A16,16,0,0,0,16,80v28a4,4,0,0,0,4,4H64V96.27A8.17,8.17,0,0,1,71.47,88,8,8,0,0,1,80,96v16h96V96.27A8.17,8.17,0,0,1,183.47,88,8,8,0,0,1,192,96v16h44a4,4,0,0,0,4-4V80A16,16,0,0,0,224,64Zm-64,0H96V56a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8Zm80,68v60a16,16,0,0,1-16,16H32a16,16,0,0,1-16-16V132a4,4,0,0,1,4-4H64v16a8,8,0,0,0,8.53,8A8.17,8.17,0,0,0,80,143.73V128h96v16a8,8,0,0,0,8.53,8,8.17,8.17,0,0,0,7.47-8.25V128h44A4,4,0,0,1,240,132Z'/></svg>");
          position: relative;
          // top: 2px;
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-features > .menu__list-item-collapsible a {
        &::before {
          content: '\E922';
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-configurations > .menu__list-item-collapsible a {
        &::before {
          content: '\E87C';
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-development > .menu__list-item-collapsible a {
        &::before {
          content: '\E586';
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-plugins > .menu__list-item-collapsible a {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(142,142,169)' viewBox='0 0 256 256'><path d='M165.78,224H208a16,16,0,0,0,16-16V170.35A8,8,0,0,0,212.94,163a23.37,23.37,0,0,1-8.94,1.77c-13.23,0-24-11.1-24-24.73s10.77-24.73,24-24.73a23.37,23.37,0,0,1,8.94,1.77A8,8,0,0,0,224,109.65V72a16,16,0,0,0-16-16H171.78a35.36,35.36,0,0,0,.22-4,36,36,0,0,0-72,0,35.36,35.36,0,0,0,.22,4H64A16,16,0,0,0,48,72v32.22a35.36,35.36,0,0,0-4-.22,36,36,0,0,0,0,72,35.36,35.36,0,0,0,4-.22V208a16,16,0,0,0,16,16h42.22'></path></svg>");
          position: relative;
          // top: 2px;
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-api > .menu__list-item-collapsible a {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(142,142,169)' viewBox='0 0 256 256'><rect width='16' height='16' fill='rgb(142,142,169)'/><path d='M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,120,47.65,76,128,32l80.35,44Zm8,99.64V133.83l80-43.78v85.76Z'/></svg>");
          // content: '\E1DA';
        }
      }
      .theme-doc-sidebar-item-category-level-1.category-upgrade > .menu__list-item-collapsible a {
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(142,142,169)' viewBox='0 0 256 256'><rect width='16' height='16' fill='rgb(142,142,169)'/><path d='M240,56V96a16,16,0,0,1-16,16H187.5L93.88,213.43A8,8,0,0,1,88,216H32a16,16,0,0,1-16-16V160a16,16,0,0,1,16-16H68.5L162.12,42.57A8,8,0,0,1,168,40h56A16,16,0,0,1,240,56Zm-34.34,90.34a8,8,0,0,0-11.32,0l-24,24a8,8,0,0,0,11.32,11.32L192,171.31V208a8,8,0,0,0,16,0V171.31l10.34,10.35a8,8,0,0,0,11.32-11.32Z'/></svg>");
        }
      }
    }
  }
}

@include medium-up {
  .theme-doc-sidebar-container {
    --docusaurus-collapse-button-bg: var(--strapi-neutral-0);
    --docusaurus-collapse-button-bg-hover: var(--strapi-primary-100);
    position: sticky;
    top: 12px;
    height: calc(100vh + 180px);
  }

  .theme-doc-sidebar-menu.menu__list {
    margin-bottom: 80px;
  }

  @include medium-up {
    [class*="collapseSidebar"]::after,
    [class*="expandButton"]::after {
        font-family: "Phosphor";
        position: relative;
        top: 0;
        left: 0;
        color: var(--strapi-neutral-600);
        font-weight: 500;
    }

    [class*="collapseSidebar"] {
      border-bottom: none;
      min-height: 38px;

      &::after {
        content:'\E128';
      }
    }
    svg {
      display: none;
    }
    [class*="expandButton"] {
      svg {
        display: none;
      }
      &::after {
        content:'\E12A';
      }
    }
  }
}

/** Dark mode */
@include dark {
  --ifm-menu-color: var(--strapi-neutral-1000);

  .theme-doc-sidebar-container {
    .menu {
      --ifm-menu-color-background-hover: var(--strapi-neutral-100);

      &__link--active {
        --ifm-menu-color-active: var(--strapi-neutral-800);

        &:not(.menu__link--sublist) {
          --ifm-menu-color-active: var(--strapi-primary-500);
        }
      }
    }
  }
}
