/** Component: Tab */

:root body {
  --custom-tabs-px: var(--strapi-spacing-5);
  --custom-tabs-py: var(--strapi-spacing-2);

  --ifm-tabs-padding-horizontal: var(--custom-tabs-px);
  --ifm-tabs-padding-vertical: var(--custom-tabs-py);
}

.tabs {
  border-bottom: solid 1px var(--strapi-neutral-100);

  &__item {
    border-top: 2px solid transparent;
    border-bottom-width: 2px;
    padding-bottom: 18px !important;
    font-weight: 600;

    &:hover {
      background-color: transparent;
      color: var(--strapi-primary-600);
    }
  }

  &:not(.tabs__item--active) {
    color: var(--strapi-neutral-600);
  }

  &-container {
    .margin-top--md {
      margin-top: 24px !important;
    }

    .tabs + .margin-top--md {
      margin-top: 6px !important;
    }
  }

  /** Tabs inside Tabs */
  + div {
    [role="tabpanel"] {
      .tabs {
        font-size: var(--strapi-font-size-ssm);

        &__item {
          &--active {
            --ifm-tabs-color-active-border: transparent;

            background-color: var(--ifm-hover-overlay);
          }
        }

        + [class*="margin-top"] {
          margin-top: 0 !important;
        }
      }
    }
  }
}

/** Tabs inside Details component */
details {
  .tabs {
    --ifm-tabs-color-active-border: var(--strapi-)
  }
}
