.tocWrapper {
  display: flex;
  flex-direction: column;
}

.contributeLinkWrapper {
  margin-top: 1rem;
}

/* To ensure it stays visible on mobile */
@media (max-width: 996px) {
  .contributeLinkWrapper {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}