@use '@site/src/scss/_mixins.scss' as mixins;

:root {
  --button-hover-border: rgba(255,255,255,.2);
  --button-hover-transition-timing: 0.3s;
}

.homepage-ai-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 72px;
  z-index: 100;
}

.homepage-ai-button {
  position: relative;
  background-color: var(--strapi-neutral-0);
  color: #c0c0cf;
  border-radius: 4px;
  border: 1px solid #666687;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: solid 1px #DCDCE4;
  cursor: pointer;
  padding: 26px 34px 26px 26px;
  color: var(--strapi-neutral-500, #8E8EA9);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important; 
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  letter-spacing: -0.36px;
  overflow: hidden;

  > svg {
    fill: #c0c0cf;
    transition: all 0.3s ease-in-out;
  }
  transition: all 0.3s ease-in-out;

  p {
    margin-bottom: 0;
  }
}

.homepage-ai-button:hover {
  cursor: pointer;
  background-color: #9736E8;
  color: white;
  box-shadow: 0 0px 400px 30px #ac73e6, 0 0px 0px 12px #9736e833;
  border-color: rgba(255, 255, 255, 0.20) !important;
  p {
    color: white;
  }
  > svg {
    fill: white;
  }
}

.homepage-ai-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.50);
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  filter: blur(80px);
}

.homepage-ai-button:hover::after {
  opacity: 1;
}

@include mixins.dark {
  .homepage-ai-button {
    border-color: #32324D;
  }
}