body
  font-family: system-ui
  color: $neutral800

a
  color: $primary600
  font-weight 600

h1, h2, h3, h4, h5, h6
  color: $neutral900

h2
  border-bottom-color: $neutral150

.theme-default-content code
  background-color: $primary100
  color: $primary600
  // more neutral version
  // background-color: $primary100
  // color: $neutral700

// tables // TODO

// inline code // TODO

// code blocks // TODO

// API call // TODO

// QSG tabs // TODO might be done in markdown file directly

// callouts // TODO

// navigation // TODO

// headings // TODO
  // separation lines

// details blocks // TODO
