body
// TODO: system fonts
  font-family: system-ui

.install-link
  // text-decoration: none
  background-color: #4945FF
  border-radius: 6px
  padding: 20px
  color: $primary100
  justify-content: space-between

  .text
    flex-grow: 1

  .title
    color: $neutral0

  .description
    color: $primary100

  .arrow
    width: 24px
    height: 24px

  &:hover
    .title
      color: $neutral0
      text-decoration: underline
    .description
      color: $neutral0
      // text-decoration: none
    .arrow
      // TODO:


