// Color Variables
$accentColor = #007eff
$textColor = #2c3e50
$borderColor = #eeeeee
$codeBgColor = #282c34

// Layout
$contentWidth = 900px


// Strapi branding palette
$primary700 = #4945FF
$primary600 = #4945FF
$primary500 = #7B79FF
$primary200 = #D9D8FF
$primary100 = #F0F0FF

$success700 = #2F6846
$success600 = #328048
$success500 = #5cb176
$success200 = #C6F0C2
$success100 = #EAFBE7

$danger700 = #B72B1A
$danger600 = #D02B20
$danger500 = #EE5E52
$danger200 = #F5C0B8
$danger100 = #FCECEA

$warning700 = #BE5D01
$warning600 = #D9822F
$warning200 = #FAE7B9
$warning100 = #FDF4DC

$secondary700 = #006096
$secondary600 = #0C75AF
$secondary200 = #B8E1FF
$secondary100 = #EAF5FF

$alternative700 = #8212D1
$alternative600 = #9736E8
$alternative200 = #E0C1F4
$alternative100 = #F6E6FC

$neutral900 = #212134
$neutral800 = #32324D
$neutral700 = #4A4A6A
$neutral600 = #666687
$neutral500 = #8E8EA9
$neutral400 = #A5A5BA
$neutral300 = #C0C0CF
$neutral200 = #DCDCE4
$neutral150 = #eaeaef
$neutral100 = #F6F6F9
$neutral0   = #FFFFFF
