/**
 * Build-in admonitions adjustments
 */
.admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
.admonition__custom-title {
  text-transform: none !important;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 24px;
}
.admonition--prerequisites .checkbox-icon {
  position: relative;
  top: -.15em; /* visual centering fix */
  vertical-align: middle;
}
.admonition--prerequisites,
.admonition--callout,
.admonition--strapi {
  margin-bottom: 1em;
}

.admonition--prerequisites *:last-child,
.admonition--callout *:last-child,
.admonition--strapi *:last-child {
  margin-bottom: 0 !important
}

.theme-admonition {
  border-radius: 0;
  border-left-width: 4px;
}

.theme-admonition code {
  font-weight: 400;
  font-style: normal;
  font-family: 'Menlo';
  line-height: 24px;
  font-size: 13px;
  border-radius: 4px;
  padding: 4px 8px; /* vertical padding optically adjusted */
  border: none;
}

.alert a {
  text-decoration-color: transparent;
  text-decoration-thickness: 0;
}

[data-theme='light'] .theme-admonition-tip {
  background-color: var(--strapi-success-100);
  border-left-color: var(--strapi-success-600);
}
[data-theme='light'] .theme-admonition-tip code {
  color: var(--strapi-success-600);
  background-color: var(--strapi-success-200);
}
[data-theme='light'] .theme-admonition-tip a {
  color: var(--strapi-success-600);
}
[data-theme='light'] .theme-admonition-tip .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='light'] .theme-admonition-tip > div:first-child {
  /* title color */
  color: var(--strapi-success-700);
}
[data-theme='light'] .theme-admonition-info {
  background-color: var(--strapi-neutral-100);
  border-left-color: var(--strapi-neutral-500);
}
[data-theme='light'] .theme-admonition-info code {
  color: var(--strapi-primary-600);
  background-color: var(--strapi-primary-200);
}
[data-theme='light'] .theme-admonition-note {
  background-color: var(--strapi-secondary-100);
  border-left-color: var(--strapi-secondary-600);
}
[data-theme='light'] .theme-admonition-note .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='light'] .theme-admonition-note > div:first-child {
  /* title color */
  color: var(--strapi-secondary-700);
}
[data-theme='light'] .theme-admonition-note a {
  color: var(--strapi-secondary-600);
}
[data-theme='light'] .theme-admonition-note code {
  background-color: var(--strapi-secondary-200);
  color: var(--strapi-secondary-600);
}
[data-theme='light'] .theme-admonition-caution {
  background-color: var(--strapi-warning-100);
  border-left-color: var(--strapi-warning-600);
}
[data-theme='light'] .theme-admonition-caution .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='light'] .theme-admonition-caution > div:first-child {
  /* title color */
  color: var(--strapi-warning-700);
}
[data-theme='light'] .theme-admonition-caution code {
  background-color: var(--strapi-warning-200);
  color: var(--strapi-warning-700);
}
[data-theme='light'] .theme-admonition-caution a {
  color: var(--strapi-warning-700);
}
[data-theme='light'] .theme-admonition-warning {
  background-color: var(--strapi-danger-100);
  border-left-color: var(--strapi-danger-600);
}
[data-theme='light'] .theme-admonition-warning code {
  color: var(--strapi-danger-600);
  background-color: var(--strapi-danger-200);
}
[data-theme='light'] .theme-admonition-warning a {
  color: var(--strapi-danger-600);
}
[data-theme='light'] .theme-admonition-warning .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='light'] .theme-admonition-warning > div:first-child {
  /* title color */
  color: var(--strapi-danger-700);
}

[data-theme='dark'] .theme-doc-markdown .theme-admonition-callout code,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-prerequisites code,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-info code {
  background-color: var(--strapi-dark-neutral-600);
  color: var(--strapi-dark-neutral-100);
}
[data-theme='dark'] .theme-doc-markdown .theme-admonition-caution code {
  background-color: var(--strapi-dark-warning-200);
}
[data-theme='dark'] .theme-admonition-caution .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-caution a,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-caution code {
  color: var(--strapi-dark-warning-700);
}
[data-theme='dark'] .theme-doc-markdown .theme-admonition-caution code {
  background-color: var(--strapi-dark-warning-200);
}
[data-theme='dark'] .theme-doc-markdown .theme-admonition-info {
  border-left-color: var(--strapi-neutral-500);
}
[data-theme='dark'] .theme-admonition-tip .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-tip a,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-tip code {
  color: var(--strapi-success-500);
}
[data-theme='dark'] .theme-doc-markdown .theme-admonition-tip code {
  background-color: var(--strapi-dark-warning-200);
}
[data-theme='dark'] .theme-admonition-tip .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-tip a,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-tip code {
  color: var(--strapi-success-500);
}
[data-theme='dark'] .theme-doc-markdown .theme-admonition-tip code {
  background-color: var(--strapi-dark-warning-200);
}
[data-theme='dark'] .theme-admonition-warning .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-warning a,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-warning code {
  color: var(--strapi-danger-500);
}
[data-theme='dark'] .theme-doc-markdown .theme-admonition-danger code {
  background-color: var(--strapi-dark-warning-200);
}
[data-theme='dark'] .theme-admonition-note .admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-note a,
[data-theme='dark'] .theme-doc-markdown .theme-admonition-note code {
  color: var(--strapi-secondary-500);
}
[data-theme='dark'] .theme-doc-markdown .theme-admonition-note {
  border-left-color: var(--strapi-secondary-500);
}
[data-theme='dark'] .theme-doc-markdown .theme-admonition-note code {
  background-color: var(--strapi-dark-warning-200);
}

/**
 * Custom admonitions - dark mode
 */
[data-theme='dark'] .theme-admonition {
  /* all admonitions in dark mode have the same background,
     only accent colors are different */
  background-color: var(--strapi-dark-neutral-100);
  color: var(--strapi-dark-neutral-800);
}
[data-theme='dark'] .admonition--callout,
[data-theme='dark'] .admonition--prerequisites {
  /* background-color: var(--strapi-neutral-100); */
  border-left-color: var(--strapi-neutral-500);
}
[data-theme='dark'] .admonition--callout a,
[data-theme='dark'] .admonition--prerequisites a {
  text-decoration-color: var(--strapi-neutral-100);
}
[data-theme='dark'] .admonition--callout code,
[data-theme='dark'] .admonition--prerequisites code {
  background-color: #212134;
}
[data-theme='dark'] .admonition--prerequisites svg {
  fill: #e3e3e3;
}
[data-theme='dark'] .theme-admonition-strapi {
  border-left-color: var(--strapi-dark-primary-600);
}
[data-theme='dark'] .admonition--strapi a {
  color: var(--strapi-primary-100);
  text-decoration-color: var(--strapi-primary-500);
}
[data-theme='dark'] .admonition--strapi code {
  color: var(--strapi-dark-neutral-700);
  background-color: rgba(255, 255, 255, 0.1);
  background-color: var(--strapi-dark-warning-200);
}
[data-theme='dark'] .admonition--strapi .admonition__custom-title {
  color: var(--strapi-dark-primary-600);
}

/**
 * Custom admonitions - light mode
 */

[data-theme='light'] .admonition--strapi {
  color: var(--strapi-neutral-800);
  background-color: var(--strapi-primary-100);
  border-left-color: var(--strapi-primary-600);
}
[data-theme='light'] .admonition--strapi .admonition__custom-title {
  color: var(--strapi-primary-600);
}
[data-theme='light'] .admonition--callout .admonition__custom-title,
[data-theme='light'] .admonition--prerequisites .admonition__custom-title {
  color: var(--strapi-neutral-700);
}
[data-theme='light'] .admonition--strapi code,
[data-theme='light'] .admonition--callout code,
[data-theme='light'] .admonition--prerequisites code {
  color: var(--strapi-primary-600);
  background-color: var(--strapi-primary-200);
}
[data-theme='light'] .admonition--callout,
[data-theme='light'] .admonition--prerequisites {
  color: var(--strapi-neutral-800);
  background-color: var(--strapi-neutral-100); /* neutral--100 */
  border-left-color: #666687; /* neutral--600 */
}
