/**
 * Feature badges (alpha, beta)
 */
.badge.badge--feature {
  position: relative;
  top: -.2em;
  left: .6em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  padding: .32em .6em .25em 1.2em;
}

.badge.badge--feature::before {
  position: absolute;
  content: '•';
  font-size: 1.5em;
  left: .25em;
  top: -.05em;
}

[data-theme='light'] .badge {
  color: var(--strapi-neutral-800);
}
[data-theme='dark'] .badge {
  color: var(--aa-muted-color-alpha);
}

[data-theme='light'] .badge--feature.badge--alpha {
  background-color: var(--strapi-danger-100);
}
[data-theme='light'] .badge--feature.badge--alpha::before {
  color: var(--strapi-danger-600);
}
[data-theme='dark'] .badge--feature.badge--alpha {
  background-color: var(--strapi-danger-800);
}
[data-theme='dark'] .badge--feature.badge--alpha::before {
  color: var(--strapi-danger-100);
}

[data-theme='light'] .badge--feature.badge--beta {
  background-color: var(--strapi-alternative-100);
}
[data-theme='light'] .badge--feature.badge--beta::before {
  color: var(--strapi-alternative-600);
}
[data-theme='dark'] .badge--feature.badge--beta {
  background-color: var(--strapi-alternative-600);
}
[data-theme='dark'] .badge--feature.badge--beta::before {
  color: var(--strapi-alternative-100);
}


/**
 * Pricing badges (for support plans)
 */

.badge.badge--pricing.badge--gold {
  background-color: rgb(255, 241, 209);
  margin-left: 5px;
}

h1 .badge--pricing.badge--gold,
h2 .badge--pricing.badge--gold,
h3 .badge--pricing.badge--gold {
  position: relative;
}

h1 .badge--pricing.badge--gold {
  top: -.5em;
}
h2 .badge--pricing.badge--gold {
  top: -.4em;
}
h3 .badge--pricing.badge--gold {
  top: -.2em;
}

.badge.badge--pricing,
.badge.badge--pricing .badge-link {
  color: rgb(229, 136, 41);
  font-size: 14px;
  font-weight: 400;
  padding: .5em .3em;
  letter-spacing: .3px;
}
