/**
 * Feature badges (alpha, beta)
 */
.badge {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  padding: .5em .5em;
  letter-spacing: .3px;
}

[data-theme='light'] .badge {
  color: var(--strapi-neutral-800);
}
[data-theme='dark'] .badge {
  color: var(--aa-muted-color-alpha);
}

/**
 * Pricing badges (for support plans)
 */

.badge.badge--pricing.badge--gold {
  background-color: rgb(255, 241, 209);
}

h1 .badge,
h2 .badge,
h3 .badge {
  position: relative;
}

h1 .badge {
  top: -.5em;
}
h2 .badge {
  top: -.4em;
}
h3 .badge {
  top: -.2em;
}

.badge.badge--pricing,
.badge.badge--pricing .badge-link {
  color: rgb(229, 136, 41);
  font-weight: 400;
}

.badge.badge--alpha {
  background-color: rgb(255,230,228);
  color: rgb(219, 0, 22);
}

.badge.badge--beta {
  color: rgb(160,25,240);
  background-color: rgb(246, 228, 253);
}
