[data-theme='light'] .breadcrumbs__item--active .breadcrumbs__link,
[data-theme='light'] .breadcrumbs__item--active .breadcrumbs__item {
  color: var(--strapi-neutral-800);
  background: none;
  font-weight: 700;
}
[data-theme='light'] .breadcrumbs__item[itemprop='itemListElement']:not(.breadcrumbs__item--active):hover .breadcrumbs__link,
[data-theme='light'] .breadcrumbs__item .breadcrumbs__link[href='/']:hover {
  /* using attribute selectors to avoid styling non-clickable elements */
  background-color: var(--strapi-neutral-100);
  color: var(--strapi-neutral-700);
  border-radius: 4px;
}

[data-theme='dark'] .breadcrumbs__item {
  color: var(--strapi-dark-neutral-700);
}
[data-theme='dark'] .breadcrumbs__item--active .breadcrumbs__link,
[data-theme='dark'] .breadcrumbs__item--active .breadcrumbs__item {
  color: var(--strapi-dark-neutral-800);
  font-weight: 700;
}
[data-theme='dark'] .breadcrumbs__item--active .breadcrumbs__link {
  background-color: transparent !important;
  border-radius: 0;
}
[data-theme='dark'] .breadcrumbs__item[itemprop='itemListElement']:not(.breadcrumbs__item--active):hover .breadcrumbs__link,
[data-theme='dark'] .breadcrumbs__item .breadcrumbs__link[href='/']:hover {  background-color: var(--strapi-dark-neutral-100);
  /* using attribute selectors to avoid styling non-clickable elements */
  color: var(--strapi-dark-neutral-800);
  border-radius: 4px;
}
/* TODO for v2: improve style for clickable items */
