/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import './palette.css';
@import './main.css';
@import './badges.css';
@import './admonitions.css';
@import './navigation.css';
@import './api-calls.css';
@import './tabs.css';
@import './project-structure.css';
@import './columns.css';
@import './breadcrumbs.css';
@import './docs-card-list.css';
@import './details.css';
@import './tables.css';
@import './code-blocks.css';
