/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--strapi-primary-600);
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --strapi-neutral-900: #212134;
  --strapi-neutral-800: #32324D;
  --strapi-neutral-700: #4A4A6A;
  --strapi-neutral-600: #666687;
  --strapi-neutral-500: #8E8EA9;
  --strapi-neutral-300: #C0C0CF;
  --strapi-neutral-200: #DCDCE4;
  --strapi-neutral-100: #F6F6F9;
  --strapi-neutral-0: #FFFFFF;
  --strapi-primary-600: #4945FF;
  --strapi-primary-500: #7B79FF;
  --strapi-primary-200: #D9D8FF;
  --strapi-primary-100: #F0F0FF;
  --strapi-success-500: #5CB176;
  --strapi-danger-500: #EE5E52;
  --strapi-alternative-500: #AC73E6;
  --strapi-alternative-200: #E0C1F4;
  --strapi-alternative-100: #F6ECFC;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--strapi-primary-500);
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


.admonition__custom-title {
  text-transform: uppercase;
}
.admonition--prerequisites .checkbox-icon {
  position: relative;
  top: -.15em; /* visual centering fix */
  vertical-align: middle;
}

/**
 * Custom admonitions - dark mode
 */
[data-theme='dark'] .admonition--callout,
[data-theme='dark'] .admonition--prerequisites {
  color: #E3E3E3;
  background-color: var(--strapi-neutral-800);
  border-left-color: var(--strapi-neutral-300);
 }
[data-theme='dark'] .admonition--callout a,
[data-theme='dark'] .admonition--prerequisites a {
  color: #E3E3E3;
  text-decoration-color: var(--strapi-neutral-100);
}
[data-theme='dark'] .admonition--callout code,
[data-theme='dark'] .admonition--prerequisites code {
  background-color: #212134;
}
[data-theme='dark'] .admonition--prerequisites svg {
  fill: #e3e3e3;
}

[data-theme='dark'] .admonition--strapi {
  color: var(--strapi-primary-100);
  background-color: #252264; /* not included in Figma palette */
  border-left-color: var(--strapi-primary-600);
}
[data-theme='dark'] .admonition--strapi a {
  color: var(--strapi-primary-100);
  text-decoration-color: var(--strapi-primary-500);
}
[data-theme='dark'] .admonition--strapi code {
  background-color: #181644; /* not included in the Figma palette */
}

/**
 * Custom admonitions - light mode
 */

[data-theme='light'] .admonition--strapi {
  color: #252264;
  background-color: var(--strapi-primary-100);
  border-left-color: var(--strapi-primary-600);
}
[data-theme='light'] .admonition--strapi a {
  color: #252264;
  text-decoration-color: var(--strapi-primary-600);
}
[data-theme='light'] .admonition--strapi code {
  background-color: var(--strapi-primary-200);
}
[data-theme='light'] .admonition--callout,
[data-theme='light'] .admonition--prerequisites {
  color: var(--strapi-neutral-800);
  background-color: var(--strapi-neutral-100); /* neutral--100 */
  border-left-color: #666687; /* neutral--600 */
}
[data-theme='light'] .admonition--callout code,
[data-theme='light'] .admonition--prerequisites code {
  background-color: #dcdce4;
}
[data-theme='light'] .admonition--callout a,
[data-theme='light'] .admonition--prerequisites a {
  color: var(--strapi-neutral-800);
  text-decoration-color: var(--strapi-neutral-800);
}

/**
 * API calls
 */
.api-call {
  padding: 0;
  border-radius: 12px;
}
@media (min-width: 1536px) {
  .api-call {
    display: flex;
    margin: 0 -12rem 2rem 0;
    align-items: stretch;
  }
}
.request {
  background-color: var(--strapi-neutral-700);
  padding: 0 1rem 1rem;
  border-radius: 12px;
  font-size: 100%;
  color: var(--strapi-neutral-100);
}
[data-theme='light'] .request {
  background-color: var(--strapi-neutral-100);
}
[data-theme='light'] .request p code {
  background-color: var(--strapi-primary-200);
  color: var(--strapi-neutral-800);
}
.request-title {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 0;
  border-radius: 12px 12px 0 0;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background-color: var(--strapi-neutral-600);
  color: var(--strapi-neutral-100);
  font-size: 90%;
}
.request-title+p {
  padding-top: 1rem;
}
.request-content {
  padding-top: 1rem
}
.request-content p,
.request-content ul,
.request-content ol {
  color: #2c3e50;
  color: rgba(241,251,255,0.8);
}
.request-content p {
  padding-left: 1rem;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .request-content p code {
    word-break: break-word;
  }
}
.request-content ul,
.request-content ol {
  padding-left: 3rem;
}
.request [class^="language-"] {
  font-size: 100%;
}
.request [class^="language-"]::before {
  color: #eaeaef;
}
.request .line-number {
  color: var(--strapi-neutral-500);
}
.request pre {
  padding: 1rem 0 0 1rem;
}
.request code .token.punctuation {
  color: #d3d3d3;
}
.request code .token.string,
.request code .token.attr-name,
.request code .token.function {
  color: #b6ffb5;
}
.request code .token.number,
.request code .token.keyword {
  color: #fded9b;
}
.request code .token.comment {
  color: #d9d9d9;
}
.response {
  background-color: var(--strapi-neutral-900);
  margin-top: 2rem;
  padding: 0 1rem 1rem;
  border-radius: 12px;
  font-size: 100%;
  color: var(--strapi-neutral-200);
}
.response .extra-class::before {
  color: var(--strapi-neutral-200);
}
.response-title {
  background-color: var(--strapi-neutral-800);
  color: var(--strapi-neutral-0);
  border-radius: 12px 12px 0 0;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.5rem 1rem;
  margin-top: 0;
  font-weight: 700;
  font-size: 90%;
  margin-bottom: 0.5rem;
}
.response [class^="language-"] {
  font-size: 100%;
}
[data-theme="light"] .response {
  background-color: var(--strapi-primary-100);
}
[data-theme="light"] .response-title {
  background-color: var(--strapi-neutral-800);
}
.response [class^="language-"]::before {
  color: var(--strapi-neutral-200);
}
.response pre {
  padding: 1rem 0 0 1rem;
}
.response code .token {
  color: var(--strapi-neutral-200);
}
.response code .token.punctuation,
.response code .token.operator,
.response code .token.property {
  color: var(--strapi-neutral-200);
}
.response code .token.string {
  color: var(--strapi-success-500);
}
.response code .token.number {
  color: var(--strapi-danger-500);
}
.response code .token.comment {
  color: #8585b2;
}
.request.response .extra-class {
  font-size: 90%;
  border-radius: 6px 0 6px 0;
}
.request.response .extra-class pre {
  word-break: break-word;
  margin-bottom: 0;
}
@media (min-width: 1536px) {
  .request + .response {
    margin-top: 0;
  }
  .api-call > .request,
  .api-call > .response {
    flex: 0 0 42%;
    max-width: 42%;
  }
  .api-call .request {
    border-radius: 12px 0 0 12px;
  }
  .api-call .request-title {
    border-radius: 12px 0 0 0;
  }
  .api-call .response {
    border-radius: 0 12px 12px 0;
  }
  .api-call .response-title {
    border-radius: 0 12px 0 0;
  }
  .api-call .response-content {
    margin-top: 4rem;
  }
}

/**
 * Quick & easy theme improvements
 */

main article {
  padding-left: 8em;
  padding-right: 4em;
}

[data-theme="light"] main article {
  color: rgb(44, 62, 80);
}

.theme-doc-sidebar-item-category-level-1 .menu__link.menu__link.menu__link--sublist {
  font-weight: var(--aa-font-weight-bold);
}

.menu .theme-doc-sidebar-item-category-level-2 .menu__link.menu__link.menu__link--sublist,
.menu .theme-doc-sidebar-item-link,
.menu__link {
  font-weight: var(--aa-font-weight-medium);
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2:last-child {
  padding-bottom: 1.5em;
}
