/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import './palette.css';
@import './badges.css';
@import './admonitions.css';
@import './navigation.css';
@import './api-calls.css';
@import './tabs.css';
@import './project-structure.css';
@import './columns.css';

/**
 * Quick & easy theme improvements
 */

@media (min-width: 800px) {
  main article {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 1500px) {
  main article {
    padding-left: 6em;
    padding-right: 4em;
  }
}

[data-theme="light"] main article {
  color: rgb(44, 62, 80);
}
