.theme-doc-markdown.markdown section.row article.col--6 a.card {
  border-radius: 4px;
}
.theme-doc-markdown.markdown section.row article.col--6 a.card h2 {
  font-weight: 700;
  font-size: 16px;
}
.theme-doc-markdown.markdown section.row article.col--6 a.card p {
  font-weight: 500;
  color: var(--strapi-neutral-600)
}

/* TODO for v2: change hover */
