h1 {
  font-weight: 600;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}


[data-theme='light'] .theme-doc-markdown.markdown {
  font-weight: 400;
}

.theme-doc-markdown.markdown a {
  font-weight: 600;
}

[data-theme='light'] .theme-doc-markdown.markdown {
  color: var(--strapi-neutral-800);
}

[data-theme='light'] h1 {
  color: var(--strapi-neutral-900);
}
