/**
 * Quick & easy theme improvements
 */

 @media (min-width: 800px) {
  main article {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 1500px) {
  main article {
    padding-left: 6em;
    padding-right: 4em;
  }
}

[data-theme="light"] main article {
  color: rgb(44, 62, 80);
}

/**
 * Headings and "global" elements
 */
h1 {
  font-weight: 600;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

[data-theme='light'] .theme-doc-markdown.markdown {
  font-weight: 400;
}

.theme-doc-markdown.markdown a {
  font-weight: 600;
}

.theme-doc-markdown.markdown a {
  color: var(--strapi-primary-600);
}
[data-theme='dark'] .theme-doc-markdown.markdown a {
  color: var(--strapi-dark-primary-600);
  text-decoration: none;
}

[data-theme='light'] .theme-doc-markdown.markdown {
  color: var(--strapi-neutral-800);
}
[data-theme='dark'] .theme-doc-markdown.markdown {
  color: var(--strapi-neutral-100);
}

[data-theme='light'] h1,
[data-theme='light'] h2,
[data-theme='light'] h3,
[data-theme='light'] h4,
[data-theme='light'] h5 {
  color: var(--strapi-neutral-900);
}
[data-theme='dark'] h1,
[data-theme='dark'] h2,
[data-theme='dark'] h3,
[data-theme='dark'] h4,
[data-theme='dark'] h5 {
  color: var(--strapi-dark-neutral-900);
}

[data-theme='dark'] .main-wrapper,
[data-theme='dark'] .navbar,
[data-theme='dark'] .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module {
  background-color: var(--strapi-dark-neutral-0);
}

[data-theme='dark'] .navbar {
  border-bottom: solid 1px var(--strapi-dark-neutral-150);
}

footer.footer.footer--dark {
  background-color: #4A4A6A;
}
footer.footer.footer--dark a:hover {
  text-decoration: none;
  color: var(--strapi-neutral-0);
  font-weight: 700;
}

code {
  font-family: 'Menlo';
  font-weight: 400;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

p code,
li code,
table code {
  font-size: 13px;
}

[data-theme='light'] code {
  background-color: var(--strapi-primary-100);
  color: var(--strapi-primary-600);
}
[data-theme='dark'] code {
  /* Commented out for now because I find that the contrast is better without these */
  /* background-color: var(--strapi-dark-neutral-600);
  color: var(--strapi-dark-neutral-100); */
}
