/**
 * Top navbar
 */
.navbar__logo {
  width: 229px;
  height: 25px;
}

.navbar__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.navbar__link--active {
  font-weight: 700;
}

[data-theme='light'] .navbar__link {
  color: var(--strapi-neutral-700);
}

[data-theme='light'] .navbar__link--active {
  color: var(--strapi-neutral-800);
}

/**
 * Left sidebar
 */

.theme-doc-sidebar-item-category-level-1 .menu__link.menu__link.menu__link--sublist {
  font-weight: 700;
}

.menu .theme-doc-sidebar-item-category-level-2 .menu__link.menu__link.menu__link--sublist,
.menu .theme-doc-sidebar-item-link,
.menu__link {
  font-weight: 500;
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2:last-child,
.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-2:last-child {
  padding-bottom: 1.5em;
}

.menu__link .menu__list-item {
  color: var(--strapi-neutral-700);
  font-size: 16px;
  font-weight: 500;
}

.theme-doc-sidebar-menu *:hover {
  color: var(--strapi-primary-600);
}

[data-theme='light'] .menu__link:hover,
[data-theme='light'] .menu__list-item-collapsible .menu__link:hover {
  background-color: var(--strapi-neutral-100) !important;
}

[data-theme='light'] .theme-doc-sidebar-menu .menu__link.menu__link--active {
  color: var(--strapi-primary-600);
  background-color: transparent;
}

.theme-doc-sidebar-menu .menu__link:not(.menu__link--sublist).menu__link--active::before {
  content: '';
  position: absolute;
  width: 5px;
  background-color: var(--strapi-primary-600);
  height: 32px;
  left: 1px;
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link {
  color: var(--strapi-primary-800);
  font-size: 18px;
  font-weight: 700;
}

.theme-doc-sidebar-item-category-level-2 > .menu__list > .menu__list-item {
  font-size: 14px;
}

/**
 * Moving carets closer to the text
 * TODO: uncomment and improve for v2
 */
.menu__link--sublist-caret::after,
.menu__caret:before {
  /* this part works */
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.2rem 1.2rem;
  /* to match the 12px diff. seen on Figma */
  /* margin-left: 4px; */
}
.theme-doc-sidebar-item-category-level-2 a.menu__link {
  /* this part doesn't — trying to place the caret which is a button in this case */
}


/* TODO for v2: update line-height/vertical spacings */

/**
 * Right sidebar
 */
.table-of-contents__link {
  color: var(--strapi-neutral-700);
  font-size: 12px;
  line-height: 16px;
}

.table-of-contents__link--active,
.table-of-contents__link:hover {
  color: var(--strapi-primary-600);
  font-weight: 700;
}

.table-of-contents__link--active::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--strapi-primary-600);
  transform: translateY(-2px);
  width: 3px;
  height: 23px;
}

/* TODO for v2: update line-height/vertical spacings */
