/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--strapi-primary-600);
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-link-decoration: none;
  --ifm-alert-border-color: transparent;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --strapi-neutral-900: #212134;
  --strapi-neutral-800: #32324D;
  --strapi-neutral-700: #4A4A6A;
  --strapi-neutral-600: #666687;
  --strapi-neutral-500: #8E8EA9;
  --strapi-neutral-300: #C0C0CF;
  --strapi-neutral-200: #DCDCE4;
  --strapi-neutral-100: #F6F6F9;
  --strapi-neutral-0: #FFFFFF;
  --strapi-primary-600: #4945FF;
  --strapi-primary-500: #7B79FF;
  --strapi-primary-200: #D9D8FF;
  --strapi-primary-100: #F0F0FF;
  --strapi-success-500: #5CB176;
  --strapi-danger-800: #4B1113; /* not actually existing in Figma */
  --strapi-danger-700: #B72B1A;
  --strapi-danger-600: #D02B20;
  --strapi-danger-500: #EE5E52;
  --strapi-danger-100: #FCECEA;
  --strapi-warning-700: #BE5D01;
  --strapi-warning-500: #F29D41;
  --strapi-alternative-600: #9736E8;
  --strapi-alternative-500: #AC73E6;
  --strapi-alternative-200: #E0C1F4;
  --strapi-alternative-100: #F6ECFC;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--strapi-primary-500);
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
