table thead tr th {
  font-weight: 600;
}

[data-theme='light'] table thead,
[data-theme='light'] table thead tr,
[data-theme='light'] table thead tr th {
  background-color: var(--strapi-neutral-0);
}

[data-theme='light'] table thead,
[data-theme='light'] table thead tr,
[data-theme='light'] table thead tr th {
  background-color: var(--strapi-neutral-0);
}

[data-theme='dark'] table tr:nth-child(2n) {
  background-color: var(--strapi-dark-neutral-100);
}

[data-theme='dark'] .container table th,
[data-theme='dark'] .container table tr,
[data-theme='dark'] .container table td {
  border: var(--ifm-table-border-width) solid var(--strapi-dark-warning-200) !important;
}

[data-theme='dark'] .container table tr th {
  background-color: var(--strapi-dark-neutral-0);
}
