.table-of-contents > li {
  --ifm-toc-padding-vertical: 1rem;
}

.table-of-contents > li > ul {
  --ifm-toc-padding-vertical: 0.5rem;
}

.table-of-contents__link img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px 3px 0;
  max-width: 22px;
}
