.tabs-container .tabs-container .tabs__item {
  font-size: .8rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.tabs-container .tabs-container .tabs__item.tabs__item--active {
  background-color: var(--ifm-hover-overlay);
  border-bottom: none;
}

/* Remove styling of a built-in div added by Docusaurus when we have nested tabs */
.tabs-container .tabs-container .margin-top--md {
  margin-top: 0 !important;
}

[data-theme='light'].tabs__item--active {
  border-bottom-color: var(--strapi-primary-600) !important;
}
[data-theme='dark'].tabs__item--active {
  border-bottom-color: var(--strapi-dark-primary-600) !important;
}
