.contributeLink {
  a {
    display: flex;
    align-items: center;
    color: var(--strapi-primary-600);
    font-size: var(--strapi-font-size-xs);
    font-weight: 500;
    text-decoration: none;
    
    &:hover {
      text-decoration: none; 
    }
    
    span {
      &:hover {
        text-decoration: underline; 
      }
    }
    
    i {
      margin-right: 0.5rem;
      position: relative;
      top: -1px;
      text-decoration: none !important;
    }
  }
}

/* Dark mode styles */
:global(html[data-theme='dark']) {
  .contributeLink {
    a {
      color: var(--strapi-primary-500);
    }
  }
}