name: Deploy Production version
on:
  push:
    branches:
      - production
      - main

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    steps:
      - name: Get Vercel deployment URL
        id: get-url-prod
        uses: zentered/vercel-preview-url@v1.0.6
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        with:
          vercel_team_id: 'strapijs'
          vercel_project_id: 'documentation'
      - name: Wait for Vercel deploy to complete
        uses: UnlyEd/github-action-await-vercel@v1.2.14
        id: await-vercel-prod
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        with:
          deployment-url: ${{ steps.get-url-prod.outputs.preview_url }}
          timeout: 300 # wait 5 minutes before failing
      - name: Output debug status
        run: "echo The deployment at ${{ fromJson(steps.await-vercel-prod.outputs.deploymentDetails).url }} is ${{ fromJson(steps.await-vercel-prod.outputs.deploymentDetails).readyState }}"
      - name: Invalidate CloudFront Cache
        uses: chetan/invalidate-cloudfront-action@v2
        id: invalid-cloudfront-prod
        env:
          DISTRIBUTION: ${{ secrets.PROD_DISTRIBUTION }}
          PATHS: "/*"
          AWS_REGION: ${{ secrets.PROD_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      # - name: Invalidate Algolia Search Cache
      #   work in progress
